
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<h4 class="modal-title" id="myModalLabel">角色信息录入</h4>
		</div>
		<div class="modal-body">
			<!-- 表单信息 -->
			<form class="form-horizontal" id="role_form" role="form" modelAttribute="r" th:object="${r}" th:if="${r}">
				<input type="hidden" class="form-control" th:field="*{id}" 
						th:value="${r.id}" />
				<div class="form-group">
					<label for="roleName" class="col-sm-2 control-label">角色名</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{roleName}" id="roleName"
						th:value="${r.roleName}"	placeholder="请输入角色名" />
					</div>
				</div>

				<div class="form-group">
					<label for="roleDesc" class="col-sm-2 control-label">角色描述</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{roleDesc}" id="roleDesc"
						th:value="${r.roleDesc}"	placeholder="请输入角色描述" />
					</div>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button id="saveButton" type="button" class="btn btn-primary">保存</button>
				</div>
				
			</form>
		</div>
	
	</div>
</div>

<!-- 导入jQuery -->
<!-- <script th:src="@{webjars/jquery/3.2.1/jquery.js}"
	type="text/javascript" charset="utf-8"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript"
	th:src="@{/bootstrap3/bootstrap-table/bootstrap-table.js}"></script>
<script type="text/javascript" th:src="@{/js/util.js}"></script> -->

<script th:inline="javascript">
	/*<![CDATA[*/

	$(function() {
		$('#saveButton').click(function() {
			var param = $('#role_form').serializeObject();
			//序列化的基础参数 
			var baseData = JSON.stringify(param);
			console.info(baseData);
			var data = {"data":baseData};			
			$.ajax({
				url : 'addRole',
				type : 'POST',
				data : data,
				async : true,
				cache : false,
				success : function(result) {
					//	 $.showMsg(result.msg);
					$('#mymodal').modal('hide');
					$('#tb_roles').bootstrapTable('refresh');
				},
				error : function(returndata) {
					console.error(returndata);
				}
			});
		});
	});
		
	/*]]>*/
</script>
